.payment {
  background-color: white;
}

.payment__container > h1 {
  text-align: center;
  padding: 10px;
  font-weight: 400;
  background-color: rgb(234, 237, 237);
  border-bottom: 1px solid lightgray;
}

.payment__container > h1 a {
  text-decoration: none;
}

.payment__section {
  display: flex;
  padding: 20px;
  margin: 0 20px;
  border-bottom: 1px solid lightgray;
}

.payment__title {
  flex: 0.2;
}

.payment__address,
.payment__items,
.payment__details {
  flex: 0.8;
}

.payment__details > form {
  max-width: 400px;
}

.payment__details > h3 {
  padding-bottom: 20px;
}

.payment__details > form > div > button {
  border: 1px solid;
  margin-top: 10px;
  color: #111;
  background: #ffd814;
  border-color: #fcd200;
  border-radius: 8px;
  box-shadow: 0 2px 5px 0 rgba(213, 217, 217, 0.5);
  width: 100%;
  height: 30px;
  cursor: pointer;
  color: #111;
}

.payment__details > form > div > button:hover {
  background: #f7ca00;
  border-color: #f2c200;
}

.card__element {
  display: flex;
  justify-content: space-between;
}

.card__number {
  margin-right: 10px;
  width: 100%;
}

.card__expiry {
  margin-right: 10px;
  width: 50%;
}

.card__cvc {
  width: 40%;
}
